@media screen and (max-width: 480px) {
  * {
    font-size: 15px;
    padding: 0;
  }

  header {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    width: 100vw;
  }

  main {
    padding: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  main .col1 {
    width: 100%;
    align-items: center;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  main .col2 {
    width: 100%;
  }

  main .col2 figure .image {
    display: flex;
    justify-content: center;
  }

  main .col2 figure .image img {
    width: 80%;
  }

  main .col2 .image-price {
    width: 30%;
    left: 50px;
  }

  .sec-1 {
    height: fit-content;
    width: 100vw;
  }

  .sec-1 .cards {
    flex-direction: column;
  }

  form {
    width: 100vw;
  }

  form .form-title {
    text-align: center;
  }

  form .container-form {
    flex-direction: column;
  }

  footer {
    height: fit-content;
  }

  footer .row-logo {
    justify-content: center;
    align-items: center;
  }

  footer .row-logo figure img {
    width: 110%;
  }

  footer .row {
    flex-direction: column;
    padding: 0;
    gap: 30px;
  }

  footer .row .col {
    width: 100%;
  }

  footer .row .col {
    padding: 0;
  }

  footer .row .col p {
    color: white;
    text-align: center;
  }

  footer #row-contacts {
    flex-direction: column-reverse;
  }

  footer #row-contacts p {
    text-align: center;
  }

  footer .row .logo-container {
    padding: 10px;
    justify-content: center;
    gap: 30px;
  }
}
